* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* margin: 10px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  /* border: 1px black solid; */
  height: 100%;
  flex: 1;
}

#logo {
  width: 15%;
  height: 5em;
}

.nav-bar-container {
  background-color: #412616;
  display: flex;
  /* border: 1px black solid; */
  justify-content: space-evenly;
  list-style: none;
  flex: 1;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  padding: 1%;
  /* position: fixed; */
}

.nav-bar-container li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.72em;
  border-radius: 25%;
}

.nav-bar-container li a:hover {
  background-color: #774629;
  box-shadow: white 1px 1px;
}

.landing-container {
  /* display: flex; */
  background-position: center center;
  background-size: cover;
  background-image: url("../images/banner.jpeg");
  height: 550px;
}

.landing-heading-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 12%;
  /* width: 50%; */
  text-shadow: 7px 7px 10px black, 0 0 45px #5f2328, 0 0 10px #a51c33;
}

.landing-heading-container > h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: white;
}

.landing-heading-container > p {
  font-size: 18px;
  color: white;
  padding-bottom: 1%;
}

.btn {
  background-color: orangered;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  margin: 5em;
  /* border-radius: 10%; */
  text-decoration: none;
  border-radius: 45%;
}

.btn:hover {
  background-color: rgb(160, 43, 1);
  box-shadow: white 1px 1px;
}
.bottom-container {
  background-image: url("../images/form_background.jpeg");
  display: flex;
  background-position: center center;
  background-size: cover;
  height: 100%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  color: white;
  /* flex: 4; */
  flex-basis: 70%;
  border: 5px ridge black;
  border-color: #412616;
  background-color: #fab380b7;
  text-shadow: 2px 2px #412616;
  height: 100%;
  /* flex-flow: row wrap; */
}

form {
  height: 100%;
}

label,
#callHelp {
  padding-left: 5%;
  padding-right: 0.5%;
}

span {
  padding-left: 12%;
}
/* label > input {
  margin: 5%;
} */

.footer-top ul {
  display: flex;
  /* border: 1px black solid; */
  justify-content: space-evenly;
  list-style: none;
  flex: 1;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  background-color: #a35d2b;
  -ms-flex-flow: row wrap;
  padding: 1%;
}

.footer-top ul li a {
  color: white;
  text-decoration: none;
}

.footer-top ul li a:hover {
  background-color: #412616;
  box-shadow: white 1px 1px;
}

.footer-bottom {
  position: static;
  left: 0;
  bottom: 0;
  color: white;
  background-color: #412616;
  text-align: center;
  padding: 1%;
}
