* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* margin: 10px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  /* border: 1px black solid; */
  height: 100%;
  flex: 1;
}

#logo {
  width: 15%;
  height: 5em;
}

@media all and (max-width: ) .nav-bar-container {
  /* overflow: hidden; */
  background-color: rgba(3, 83, 3, 0.849);
  display: flex;
  /* border-top: 2px black inset; */
  border-bottom: 2px black inset;
  justify-content: space-evenly;
  list-style: none;
  flex: 1;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  padding: 1%;
  /* position: fixed; */
}

.nav-bar-container li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.72em 0.5em;
  border-radius: 25%;
}

.nav-bar-container li a:hover {
  background-color: #6eb168;
  box-shadow: white 1px 1px;
}

.landing-container {
  /* display: flex; */
  background-position: center center;
  background-size: cover;
  background-image: url("../images/banner.jpeg");
  height: 550px;
}

.landing-heading-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  /* width: 50%; */
  text-shadow: 7px 7px 10px black, 0 0 45px rgba(3, 83, 3, 0.849),
    0 0 10px rgba(2, 124, 2, 0.836);
}

.landing-heading-container > h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  padding: 1%;
}

.landing-heading-container > p {
  font-size: 18px;
  color: white;
  padding-bottom: 1%;
  padding: 1%;
}

.btn {
  background-color: rgb(1, 1, 248);
  /* border: snow 1px solid; */
  color: white;
  padding: 30px 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  margin: 5em;
  /* border-radius: 10%; */
  text-decoration: none;
  border-radius: 45%;
}

.buttonDiv {
  margin: 1%;
  padding-top: 2%;
}

.btn:hover {
  background-color: #1d6e2e;
  box-shadow: white 1px 1px;
}
.bottom-container {
  background-image: url("../images/form_background.jpeg");
  display: flex;
  background-position: center center;
  background-size: cover;
  height: 100%;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#formLogo,
.logo-container {
  border-top: 2px ridge green;
  border-bottom: 2px ridge green;
}

.form-container {
  display: flex;
  flex-direction: column;
  color: white;
  /* flex: 1; */
  flex-basis: 55%;
  border: 5px ridge black;
  border-color: #2a8f40;
  background-color: #fab380d5;
  text-shadow: 2px 2px #2a8f40;
  height: 100%;
  /* flex-flow: row wrap; */
  box-shadow: 2px 2px black, 3px 3px rgba(2, 124, 2, 0.836),
    5px rgba(86, 77, 143, 0.699);
}

form {
  height: 100%;
}

h2 {
  padding-top: 1em;
  padding-bottom: 0.25em;
  text-align: center;
  text-shadow: 7px 7px 10px black, 0 0 45px rgba(3, 83, 3, 0.849),
    0 0 10px rgba(2, 124, 2, 0.836);
}

.form-group {
  text-align: center;
  padding: 1%;
  flex-grow: 1;
  font-size: 18px;
}

.form-group > input,
.form-group > textarea {
  box-shadow: 0 0 30px rgba(40, 43, 40, 0.849), 0 0 10px rgba(67, 90, 67, 0.836);
  line-height: 1.5em;
  margin-top: 1%;
}

.form-group > label {
  text-shadow: 0 0 30px rgba(3, 83, 3, 0.849), 0 0 10px rgba(2, 124, 2, 0.836);
  color: rgb(0, 0, 0);
}

.form-group > :placeholder-shown {
  text-align: center;
}

#submit {
  padding: 1.5%;
  /* margin-top: 1%; */
  margin-bottom: 1%;
}

.footer-top ul {
  display: flex;
  /* border: 1px black solid; */
  justify-content: space-evenly;
  list-style: none;
  flex: 1;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  background-color: green;
  -ms-flex-flow: row wrap;
  padding: 1%;
}

.footer-top ul li a {
  color: white;
  text-decoration: none;
}

.footer-top ul li a:hover {
  background-color: #2a8f40;
  box-shadow: white 1px 1px;
}

.footer-bottom {
  position: static;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgb(3, 83, 3);
  text-align: center;
  padding: 1%;
}
